@media (max-width: 768px) {
    .ui-panel-center-multi h2, .ui-panel-center-multi>h3 {
        height: auto;
        font-size: 0.14rem;
        padding:5px 0;
    }
}
.item{
    width:80%;

}
.item img{
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 50px;
}
.item .item-name{
    display: inline-block;
    position: relative;
    top: -36px;
    left: 12px;
}
.item-content{
    display: inline-block;
    background: bisque;
    margin-left: -46px;
    padding: 10px;
    border-radius: 10px;
}